<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768838600640-jnfokfv4hl9f87d62pg4re0e9sdmvpto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768838600640-jnfokfv4hl9f87d62pg4re0e9sdmvpto</string>
	<key>API_KEY</key>
	<string>AIzaSyBxhv8PqQLFkdjOpoLEO3RTJfF4Om90FQc</string>
	<key>GCM_SENDER_ID</key>
	<string>768838600640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskmanagemet</string>
	<key>PROJECT_ID</key>
	<string>task-management-firestore</string>
	<key>STORAGE_BUCKET</key>
	<string>task-management-firestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768838600640:ios:bcc105b4873bbf21306a25</string>
</dict>
</plist>